.footer {
  width: 100%;
  background-color: var(--body-color);
  color: var(--title-color);
  text-align: center;
  padding: 2rem 0;
  position: relative;
  z-index: var(--z-container);
}

.footer__text {
  margin-bottom: 1.5rem;
  padding: 5px;
}

.footer__text-author {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer__link {
  font-size: 1.3rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
}

.footer__link .github {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.footer__text-template-author {
  margin: 0.5rem;
}

.footer__link:hover {
  color: hsl(43, 100%, 68%);
  transform: scale(1.1);
}
